<h2><%= @developer.name %></h2>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @developer.avatar, class: "img-responsive img-rounded" %>
    <p> Location: <%= @developer.location %> </p>
    <% if @developer.hireable %>
      <p><mark>Available for hire!</mark></p>
    <% end %>

    <a href="/subscribers/new" class="btn btn-success">Contact Me</a>
  </div>
  <div class="col-md-4">
    <%= render partial: 'shared/languages_chart', locals: { user: @developer } %>
  </div>
</div>
