<p class="lead text-center" style="margin-top: 10em">
  We are building a lot new features to help making this index better<br/>
  Subscribe for news and updates on the project!<br/>
</p>

<div style="margin: 0 auto; width:40%;">
  <form method="post" action="subscribe">
    <div class="form-group text-center">
      <input type="email" name="email" class="form-control text-center" placeholder="Email to subscribe">
      <button type="submit" class="btn btn-default">Subscribe</button>
    </div>
  </form>
</div>
