<div class="row">
  
<h3>What is this site NOT about?</h3>

<ul>
  <li>This is NOT a job listing site</li>
  <li>This is NOT a networking site</li>
</ul>

</div>
<div class="row">

<h3>What is this site about then?</h3>

<p>
  This site acts as an index. A collection of developers and their skills, that are
  looking for a job.<mark> Here code speaks for you. </mark>
</p>

</div>

<div class="row">
<h3>How can I appear on the index without even knowing about it?</h3>

<p>
  We are using Github search to find developers that have set their 'hireable' flag.</br>
  Once we find people interesting in getting a job, then we analyze their public repositories
  and generate information about their skills.
</p>

</div>

<div class="row">
  
<h3>I don't want to be displayed here any more, please hide me!</h3>

<p>
Ok, so there is a chance that without knowing your hireable flag is set to true in github.
  If you update your profile and then login with your Github account, it will update our records.</br>
  If you don't want to do that as well, just email me at <a href="mailto:alvaro@dev-hub.io">alvaro at dev-hub.io</a> with your
  name and github login, I will take care of it.
</p>
</div>
