<div id="activity_chart"></div>
<script type="text/javascript">
  $(function() {
    var data = [<%= activity %>];
    var chart = c3.generate({
      bindto: "#activity_chart",
      data: {
        x: 'x',
        type: 'spline',
        columns: data
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%m-%d-%y'
          }
        }
      }
    });
  });
</script>
