<p class="lead">
  Hi, I'm Alvaro from Developer's Hub, an application that aims to make dev recruitment <br>
  better. There is a recruiter that is interested in contacting you for a job opportunity. <br>
  <br>
  We haven't given any contact details and we are forwarding their message to you for your consideration.<br>
  <br>
  Here is the message you have received from <%= @developer.viewer.name %>:<br>
  <br>

  <%= @body %>

  <hr>
  If this opportunity is interesting for you, only hit reply on the email (we have added the recruiter).<br>
  <hr>
  For more information about the site, visit <a href="http://www.dev-hub.io">http://www.dev-hub.io</a><br>
  Also, if you wish to stop receiving this emails, please update your status to<br>
  not available for hire in Github and sing in (this updates our records).<br>
  We won't bother you any more :) <br>
  <br>
  Thank you!<br>
</p>
