<div class="row">
  <h2><%= @recruiter.name %></h2>
</div>

<div class="row recruiter-profile">
  <div class="small-4 columns">
    <%= image_tag @recruiter.avatar, class: "img-responsive img-rounded" %>
    <p>Location: <%= @recruiter.location %></p>
  </div>

  <div class="small-4 columns end">
    <% if @recruiter.can_see_instructions? %>
      <h3>Let's find some developers</h3>
      <p>By language:</p>
      <ul>
        <li><a href="/lang/ruby">/lang/ruby</a><br/></li>
        <li><a href="/lang/javascript">/lang/javascript</a><br/></li>
      </ul>

      <p>By location:</p>
      <ul>
        <li><a href="/location/hampshire">/location/hampshire</a><br/></li>
        <li><a href="/location/bath">/location/bath</a><br/></li>
      </ul>
      <p>Or Both:</p>
      <ul>
        <li><a href="/location/hampshire/lang/ruby">/location/hampshire/lang/ruby</a><br/></li>
      </ul>

    <% end %>
  </div>
</div>
